<h1>Anagrams!</h1>
<div class="container ak-form">
  <form action='anagrams'>
    <div class="form-group">
      <label for='origin_word'>Enter a word here:</label>
      <input id='origin_word' name='origin_word' class="form-control<% if @original_word_error == 1 %> ak-error<% end %>"<% if @original_word != nil %> value="<%= @original_word %>"<% end %> type='text' placeholder="Enter a word">
    </div>
    <div class="form-group">
      <label for='possible_anagrams'>Enter some possible anagrams (separate words with a comma):</label>
      <input id="possible_anagrams" name="possible_anagrams" class="form-control<% if @possible_anagrams_error == 1 %> ak-error<% end %>"<% if @original_anagrams != nil %> value="<%= @original_anagrams %>"<% end %> type="text" placeholder="Ex. dog, cat, pig, goat">
    </div>
    <button class="btn-primary btn">Go!</button>
  </form>
</div>
